*{
    margin: 0;
    padding: 0;
    border: 0;
}
body, html{
   
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    margin: 0 auto;
}

body, html{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(#F2EFE3,#F2EFE3);    
}
.cuadro{
    animation-name: cuadro;
    animation-duration: 3.5s; 
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-delay: 0s;
    position: absolute;
    background-color:rgb(164, 87, 240);
    opacity: 70%;
    width: 100%;
    height: 24rem;
    z-index: -1;
}
.contenedor{
    position: relative;
    z-index: 1;
    margin-top: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    column-gap: 5rem;
    row-gap: 5rem;
    gap: 5rem;
}
.contenedor-principal{
    
    height: 100%;
    display: inline-grid;
    grid-template-columns:repeat(4, 25%);
    grid-template-rows: repeat (2, 100%); 
}

.botones{
    margin: 1rem;
    width: 14rem;
    height: 8rem;
    
   
}
.cuadrado-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    animation-name: animacion;
    animation-duration: 2s; 
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-delay: 0ms;

}
.rectangulo-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    animation-name: animacion;
    animation-duration: 2s; 
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-delay: 100ms;

}
.triangulo-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    animation-name: animacion;
    animation-duration: 2s; 
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-delay: 200ms;

}
.rombo-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    animation-name: animacion;
    animation-duration: 2s; 
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-delay: 300ms;

}
.paralelograma-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    animation-name: animacion;
    animation-duration: 2s; 
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-delay: 50ms;

}
.trapecio-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    animation-name: animacion;
    animation-duration: 2s; 
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-delay: 150ms;

}
.poligonoRegular-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    animation-name: animacion;
    animation-duration: 2s; 
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-delay: 250ms;
}
.circulo-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    animation-name: animacion;
    animation-duration: 2s; 
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-delay: 350ms;
}
#btn-cuadrado{
    background-color: #F27E7E;
    width: 8rem;
    height: 8rem;
    transition: .3s;
}
#btn-cuadrado:hover{
    transform: scale(1.1)  translateY(-10px);
    animation: mover 0.5s;
    animation-iteration-count: 1;
    animation-delay: 250ms;
}
/*#btn-cuadrado:active{
    animation: mover 0.5s;
    animation-iteration-count:3;
}*/
#btn-rectangulo{
    width: 11rem;
    height: 8rem;
    background-color: #8BC6D2;
    transition: .3s;
}
#btn-rectangulo:hover{
    transform: scale(1.1)  translateY(-10px);
    animation: mover 0.5s;
    animation-iteration-count: 1;
    animation-delay: 250ms;
}
#btn-rombo{
    width: 8rem;
    height: 8rem;
    background-color: #E0EBB6;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transition-property: clip-path;
    transition-duration: 3s;
    transition-timing-function: ease-out;
    transition: .3s;
}
#btn-rombo:hover{
    transform: scale(1.1)  translateY(-10px);
    animation: mover 0.5s;
    animation-iteration-count: 1;
    animation-delay: 250ms;
}


#btn-triangulo{
    width: 8rem;
    height: 8rem;
    background-color: #e9ed71;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transition-property: clip-path;
    transition-duration: 3s;
    transition-timing-function: ease-out;
    transition: .3s;
}
#btn-triangulo:hover{
    transform: scale(1.1)  translateY(-10px);
    animation: mover 0.5s;
    animation-iteration-count: 1; 
    animation-delay: 250ms;
}


#btn-paralelo{
    width: 11rem;
    height: 8rem;
    background-color: #C2B1D4;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    transition-property: clip-path;
    transition-duration: 3s;
    transition-timing-function: ease-out;
    transition: .3s;
    
}
#btn-paralelo:hover{
    transform: scale(1.1)  translateY(-10px);
    animation: mover 0.5s;
    animation-iteration-count: 1;
    animation-delay: 250ms;
}
#btn-trapecio{
    width: 11rem;
    height: 8rem;
    background-color: #C9E6CF;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    transition-property: clip-path;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition: .3s;
}
#btn-trapecio:hover{
    transform: scale(1.1)  translateY(-10px);
    animation: mover 0.5s;
    animation-iteration-count: 1;
    animation-delay: 250ms;
}
#btn-pentagono{
    background-color:#FABA92;
    width: 8rem;
    height: 8rem;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transition-property: clip-path;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition: .3s;
}
#btn-pentagono:hover{
    transform: scale(1.1)  translateY(-10px);
    animation: mover 0.5s;
    animation-iteration-count: 1;
    animation-delay: 250ms;
    
}
#btn-circulo{
    width: 10rem;
    height: 10rem;
    background-color: #6eaef3;
    clip-path: circle(35% at 50% 50%);
    transition-property: clip-path;
    transition-duration: 3s;
    transition-timing-function: ease-out;
    transition: .3s;
}
#btn-circulo:hover{
    transform: scale(1.1)  translateY(-10px);
    animation: mover 0.5s;
    animation-iteration-count: 1;
    animation-delay: 250ms; 
}


@keyframes animacion{
    0%{
        transform: translateY(300%);
    }

    80%{
        transform: translateY(-35%);
    }

    100%{
        transform: translateY(0);
    }
}

@keyframes cuadro{
    0%{
        transform: translateX(-300%);
    }

    100%{
        transform: translateX(0);
    }
}
@keyframes mover {
    0% { transform: translate(1px, 1px) rotate(0deg) scale(1.1)  translateY(-10px); }
    10% { transform: translate(-1px, -2px) rotate(-1deg) scale(1.1)  translateY(-10px); }
    20% { transform: translate(-3px, 0px) rotate(1deg) scale(1.1)  translateY(-10px); }
    30% { transform: translate(3px, 2px) rotate(0deg) scale(1.1)  translateY(-10px); }
    40% { transform: translate(1px, -1px) rotate(1deg) scale(1.1)  translateY(-10px); }
    50% { transform: translate(-1px, 2px) rotate(-1deg)scale(1.1)  translateY(-10px) ; }
    60% { transform: translate(-3px, 1px) rotate(0deg) scale(1.1)  translateY(-10px); }
    70% { transform: translate(3px, 1px) rotate(-1deg)scale(1.1)  translateY(-10px) ; }
    80% { transform: translate(-1px, -1px) rotate(1deg)scale(1.1)  translateY(-10px) ; }
    90% { transform: translate(1px, 2px) rotate(0deg) scale(1.1)  translateY(-10px); }
    100% { transform: translate(1px, -2px) rotate(-1deg) scale(1.1)  translateY(-10px); }
  }





@media only screen and (min-device-width : 320px) and (max-device-width : 640px) {


    .contenedor{
        display: flex;
        justify-content: center;
        align-content: space-around; 
    }


    .contenedor-principal{
        margin-bottom: 5rem;
        display: inline-grid;
        grid-template-columns:repeat(2, 45%);
        grid-template-rows: repeat (4, 100%);
    }
    .botones{
        margin: 1rem;
        width: 8rem;
        height: 4rem;
    }
    

}